@import '../../components/styles/theme.scss';

.femi-controller{
  font-family: $primary-font;

  *{
    width: unset;
  }

  a, a:hover{
    color: unset;
  }

  h1,
  h3 {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-weight: 400;
    color: #666666
  }

  .flex{
    display: flex;
  }

  .flew-wrap{
    flex-wrap: wrap;
  }

  .align-c{
    align-items: center;
  }

  .c-pointer{
    cursor: pointer;
  }

  .color-sec{
    color: $secondary-color;
  }

  .color-pri{
    color: $primary-color;
  }

  .max-width-1400 {
    max-width: 1400px;
    margin: 0 auto;
  }
  .max-width-1200 {
    max-width: 1200px;
    margin: 0 auto;
  }


  .content-container {
    padding-top: 50px;

    .content-head {
      margin-bottom: 30px;
    }
  }

  .content-card {
    background: white;

    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-bottom: 30px;

    .card-header,
    .card-content {
      padding: 20px;
      box-sizing: border-box;
    }

    .card-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);

      .header-type {
        padding: 10px 20px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        color: #022d4e;
        font-weight: 500;
      }
    }
  }

  .padding-20{
    padding: 20px;
  }

  .divider{
    width: 100%;
    border-bottom: 1px solid darken($white-color, 5%);
  }

  .text-container {
    width: 100%;
    max-width: 500px;

    .counter {
      float: right;
    }
  }

  .flex-1{
    flex: 1;
  }
  .max-width-800{
    max-width: 800px;
  }.max-width-700{
    max-width: 700px;
  }.max-width-600{
    max-width: 600px;
  }

 .margin-r-20{
  margin-right: 20px;
 }

  .info {
    font-size: 12px;
    color: #999999;
  }

  .float-r{
    float: right;
  }

  .clear-fix{
    clear: both;
  }

  .minmal {
    width: 750px;

    .btn-main {
      float: right;
      margin-top: 20px;
      margin-right: 40px;
    }
  }

  .grid-4{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }

  .clear {
    clear: both;
  }

  .hide {
    display: none !important;
  }
}


