@import "../../styles/theme.scss";


$position: absolute;
$left: -9999px;

@mixin labeling() {
  font-family: $primary-font;
  font-size: $default-font-size;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: lighten($black-color, 50%);
}

@mixin label-before($color:$primary-color) {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: lighten($color, 20%);
}

@mixin label-after($color:$white-color) {
  content: '';
  width: 10px;
  height: 5px;
  background: transparent;
  position: absolute;
  border: 2px solid transparent;
  border: solid $color;
  border-width: 0 0 2px 2px;

  top: 4px;
  left: 4px;
  transition: all 0.2s ease;

}

.Checkbox[type="checkbox"] {

  &:checked {
    position: $position;
    left: $left;

    &+label {
      @include labeling();

      &:before {
        @include label-before();
      }

      &:after {
        @include label-after();

        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        transform: rotate(-45deg);
      }
    }
  }

  &:not(:checked) {
    position: $position;
    left: $left;

    &+label {
      @include labeling();

      &:before {
        @include label-before();
      }

      &:after {
        @include label-after();

        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        transform: rotate(0deg);
      }
    }
  }

  &:disabled {
    &+label {
      cursor: not-allowed;
      opacity: .7;

      &:before {
        @include label-before(darken($white-color, 30%));
      }

      &:after {
        @include label-after(lighten($white-color, 10%));
      }
    }
  }
}