@import "../../styles/theme.scss";

.card-main {
    width: 600px;
    background: $white-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    box-sizing: border-box;

    @media screen and (max-width: 480px) {
        padding: 20px;
    }

    @media screen and (max-width: 1380px) {
        width: 500px;
        padding: 30px;
    }


}