@import "../../styles/theme";

.form-group {
  margin-bottom: 30px;

  @media screen and (max-width:480px) {
    margin-bottom: 15px;
  }

  label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: lighten($black-color, 30%);

    @media screen and (max-width:480px) {
      font-size: 12px;
    }
  }
}